<ng-container *transloco="let t">
<section id="about" class="about-area pt-80 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image mt-50 clearfix">
                    <div class="single-image float-left">
                        <img src="assets/images/about/about-1.jpg" alt="About">
                    </div> <!-- single image -->
                    <div data-aos="fade-right" class="about-btn">
                        <a class="main-btn" href="#"><span>27</span> {{ t('experience') }}</a>
                    </div>
                    <div class="single-image image-tow float-right">
                        <img src="assets/images/about/about-2.jpg" alt="About">
                    </div> <!-- single image -->
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about-content mt-45">
                    <h4 class="about-welcome">{{ t('about-1') }}</h4>
                    <h3 class="about-title mt-10">{{ t('about-2') }}</h3>
                    <p class="mt-25">{{ t('about-3') }} </p> 
                        <br>
                        <ul class="about-lista">
                        <li>CLEANING TRADITIONAL</li>
                        <li>PACKAGE PATES (WITH SIGNED CONTRACT</li>
                        <li>PET TREATMENTS</li>
                        <li>DYES</li>
                        <li>WATER EXTRACTIONS</li>
                        <li>PAD RELAY</li>
                        <li>PATCHES - REPAIRS - STAIN REMOVAL</li>
                        <li>STRETCHES</li>
                        <li>PAINT CABINETS</li>
                        <li>AIR DUCT CLEANING</li>
                        <li>PAINTING TRADITIONAL</li>
                        <li>CUSTOM PAINTS / MID RISE COMMUNITIES</li>
                        <li>COUNTERTOP RESURFACING</li>
                        <li>ADDITIONAL RESURFACING</li>
                        <li>HOUSEKEEPING</li>
                        <li>MAKE READY UP GRANDE</li>
                        <li>ADDITIONAL ITEMS FOR INSTALLATION</li>
                        <li>ADDITIONAL SERVICES</li>
                        <li>SERVICES CAPACITY</li>
                        </ul>                       
                </div> <!-- about content -->
            </div>
        </div> <!-- row -->
    </div>
</section>
</ng-container>