
    <ng-container *transloco="let t">
        <!--====== PRELOADER PART START ======-->

        <div class="preloader">
            <div class="loader_34">
                <div class="ytp-spinner">
                    <div class="ytp-spinner-container">
                        <div class="ytp-spinner-rotator">
                            <div class="ytp-spinner-left">
                                <div class="ytp-spinner-circle"></div>
                            </div>
                            <div class="ytp-spinner-right">
                                <div class="ytp-spinner-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====== PRELOADER ENDS START ======-->

        <!--====== HEADER PART START ======-->

        <header id="home" class="header-area pt-100">

            <div class="shape header-shape-one">
                <img src="assets/images/banner/shape/shape-1.png" alt="shape">
            </div> <!-- header shape one -->

            <div class="shape header-shape-tow animation-one">
                <img src="assets/images/banner/shape/shape-2.png" alt="shape">
            </div> <!-- header shape tow -->

            <div class="shape header-shape-three animation-one">
                <img src="assets/images/banner/shape/shape-3.png" alt="shape">
            </div> <!-- header shape three -->

            <div class="shape header-shape-fore">
                <img src="assets/images/banner/shape/shape-4.png" alt="shape">
            </div> <!-- header shape three -->

            <div class="navigation-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="navbar navbar-expand-lg">
                                <a class="navbar-brand" href="#">
                                    <img src="assets/images/LOGORCC.png" alt="Logo">
                                </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul id="nav" class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="page-scroll" href="#home">{{ t('home') }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="page-scroll" href="#about">{{ t('about') }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="page-scroll" href="#service">{{ t('services') }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="page-scroll" href="#project">{{ t('projects') }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="page-scroll" href="#contact">{{ t('contact') }}</a>
                                        </li>
                                    </ul> <!-- navbar nav -->
                                </div>
                                <div class="navbar-btn ml-20 d-none d-sm-block">
                                    <a class="main-btn" href="tel:2143256460"><i class="lni-phone"></i>214-325-64-60</a>
                                </div>
                                <span class="spacer"></span>
                                <select #langs class="selectpicker" data-width="fit" (change)="switchLang(langs.value)">
                                    <option data-content='<span class="flag-icon flag-icon-us"></span> English' value="en">English</option>
                                  <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español' value="es">Español</option>
                                </select>
                            </nav> <!-- navbar -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- navigation bar -->

            <div class="header-banner d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-9 col-sm-10">
                            <div class="banner-content">
                                <h4 class="sub-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">{{ t('hello') }}</h4>
                                <h1 class="banner-title mt-10 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2s"><span>{{ t('welcome-1') }}</span> {{ t('welcome-2') }}</h1>
                                <p class="banner-text">{{ t('welcome-3') }} <br>
                                    {{ t('welcome-4') }}</p>
                                <a class="banner-contact mt-25 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.3s" rel="nofollow">{{ t('welcome-5') }}</a>
                            </div> <!-- banner content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="banner-image bg_cover" style="background-image: url(assets/images/banner/banner-image.jpg)"></div>
            </div> <!-- header banner -->

        </header>
    </ng-container>
        <app-about></app-about>
        <app-services></app-services>
        <app-projects></app-projects>
        <app-contact></app-contact>
        <app-map></app-map>
        <app-footer></app-footer>
   

