<ng-container *transloco="let t">
<section id="service" class="services-area pt-125 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h5 class="sub-title mb-15">{{ t('services-1') }}</h5>
                    <h2 class="title">{{ t('services-2') }}</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                    <div class="services-icon">
                        <i class="lni-paint-roller"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">{{ t('paint') }}</h4>
                        <p class="mt-20">{{ t('paint-text') }}</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <i class="lni-blackboard"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">{{ t('asesory') }}</h4>
                        <p class="mt-20">{{ t('asesory-text') }}</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="services-icon">
                        <i class="lni-home"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">{{ t('remodel') }}</h4>
                        <p class="mt-20">{{ t('remodel-text') }}</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                    <div class="services-icon">
                        <i class="lni-briefcase"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">{{ t('inspections') }}</h4>
                        <p class="mt-20">{{ t('inspections-text') }}</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <i class="lni-handshake"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">{{ t('training') }}</h4>
                        <p class="mt-20">{{ t('training-text') }}</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="services-icon">
                        <i class="lni lni-trowel"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">{{ t('repair') }}</h4>
                        <p class="mt-20">{{ t('repair-text') }}</p>
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
</ng-container>